* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #302e2b;
}

main {
    display: grid;
    grid-template-columns: 20px auto auto;
    gap: 1rem;
    color: white;
}

.piezasCapturadas {
    padding: 10px;
    margin-bottom: 10px;
    height: 40px;

    h1 {
        font-size: 16px;
    }

    img {
        width: 20px;
    }
}

.jugada {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: center;
}

.movimiento {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 2px;

    img {
        width: 22px;
    }

    &:hover {
        background-color: #484745;
        cursor: pointer;
    }
}

.botonesNuevaPartida {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.tableroCordsLetras {
    display: flex;
    justify-content: center;

    p {
        width: 70px;
        padding: 0;
        margin: 0;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
}

.tableroCordsNums {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        height: 70px;
        padding: 0;
        margin: 0;
        font-weight: bold;
        font-size: 20px;
        display: flex;
        align-items: center;
    }
}

.tablero {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    justify-content: center;
}

.white {
    background-color: #ebecd0;
}

.black {
    background-color: #739552;
}

.black,
.white {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.pieza {
    &:hover {
        cursor: pointer;
        scale: 1.05;
    }
}

.posible {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    padding: 10px;
    margin: 0;
    background-color: rgba(50, 50, 50, 0.3);

    &:hover {
        cursor: pointer;
        scale: 1.1;
    }
}

.captura {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40%;
    border-radius: 50%;
    border: 4px solid rgba(50, 50, 50, 0.3);

    &:hover {
        cursor: pointer;
        border: 6px solid rgba(50, 50, 50, 0.3);
    }
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.nuevaPartida {
    padding-inline: 40px;
    padding-block: 10px;
    background-color: #81b64c;
    border-radius: 8px;
    border: none;
    color: white;
    cursor: pointer;

    &:hover {
        scale: 1.05;
    }
}

.turno {
    padding-inline: 40px;
    padding-block: 10px;
    background-color: #ebecd0;
    border-radius: 8px;
    border: none;
    color: black;
    font-weight: bold;
}
